server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedHeaders:
              - content-type
            allowedMethods:
              - GET
              - POST
      discovery:
        locator:
          enabled: true
jwt:
  secret: dVquNMBMsjNWcWscvTR6fjRyfHWEaqtYVGjm5wXnFB9uqbgJUXr288qdFWusXLgJjbUYxJbNVVSaWZvHNxkxvznL7FNU4UvXGZM5

